{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
    <title>CodeLAB software</title>  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}/shade/css/login.css" />

  </head>

  <body >
      <div id="header"></div>

      <div class="horizontal-rule">
	<span class="first"></span>
	<span class="second"></span>
	<span class="third"></span>
      </div>

      <div id="login-stripe">
	<h2>Exception 500</h2>
	Internal server error.</br>
    </div>
  </body>
</html>

