{% load i18n %}
{% load synergy_region %}
{% load prospects_rendering %}
{% load menu_tags %}
{% load records_tags %}

{% region objectdetail %}
<div style="float:left; display:block; width: 70%;">
    {{ object|fields:objectdetail }}

{% if objectdetail.has_record %}
<p class="object-link">
  <a href="{% url update objectdetail.get_record.name object.id %}">{% trans "Edit" %}</a>
</p>
{% endif %}


</div>

<div  style="padding: 20px; float:left; width: 25%;">
  {% for detail_menu in objectdetail.get_menus %}
  {% menu detail_menu.routed_menu object=object parent=parent %} 
  {% endfor %}
</div>
{% endregion %}

{% region objectcontext %}
<div class="clearfix">
</div>


{% if body %}
<div style="margin-top: 10px;">
{{ body }}
</div>
{% endif %}


{% if variant_contexts %}
<div id="tabs" style="margin-top:20px;">
  <ul>
    {% for variant_context in variant_contexts %}
    <li><a href="#tabs-{{ variant_context.id }}">{{ variant_context.get_variant.verbose_name }}</a></li>
    {% endfor %}
  </ul>

  {% for variant_context, query in variant_contexts.iteritems %}
  <div id="tabs-{{ variant_context.id }}">
    {% render_results variant_context.get_variant user query %}
  </div>
  {% endfor %}
</div>
{% endif %}
{% endregion %}

