{% load synergy_region %}
{% load prospects_rendering %}
{% load menu_tags %}
{% load records_tags %}

{% region objectdetail %}
<div style="float:left; display:block; width: 70%;">
    {{ object|fields:objectdetail }}
</div>
<div  style="padding: 20px; float:left; width: 25%;">

  {% for menu in objectdetail.menus.all %}
  {% menu menu.menu.name object=object %} 
  {% endfor %}
</div>
{% endregion %}

{% region objectcontext %}
<div class="clearfix">
</div>


{% if body %}
<div style="margin-top: 10px;">
{{ body }}
</div>
{% endif %}


{% if variant_contexts %}
<h3>Skojarzone dane</h3>
<p>Do tego wpisu skojarzone są inne wpisy występujące w bazie</p>
<div id="tabs">
  <ul>
    {% for variant_context in variant_contexts %}
    <li><a href="#tabs-{{ variant_context.id }}">{{ variant_context.variant.verbose_name }}</a></li>
    {% endfor %}
  </ul>

  {% for variant_context, query in variant_contexts.iteritems %}
  <div id="tabs-{{ variant_context.id }}">
    {% render_results variant_context.variant user query %}
  </div>
  {% endfor %}
</div>
{% endif %}

{% endregion %}

