{% load prospects_rendering %}
{% load synergy_region %}
<form action="." method="POST">

  <table id="prospect-form-table">
    <thead>
      {% for field in form.get_aspect_fields %}
      <th class="ui-state-default">{{ field.label_tag }}</th>
      {% endfor %}
    </thead>
  <tr>
    {% for field in form.get_aspect_fields %}
    <td>{{ field.errors }}</td>
    {% endfor %}
  </tr>
  <tr>
    {% for field in form.get_aspect_fields %}
  <td>{{ field }}</td>
  {% endfor %}
  </tr>    

  <tr>
    {% for field in form.get_lookup_fields %}
  <td>{{ field }}</td>
  {% endfor %}
  </tr>    

  </table>

{% csrf_token %}
<p>
  <input id="prospect-form-submit" type="submit" value="Wyszukaj" />
</p>
</form>

<div id="results">
  {% region prospect %}
  <h3>Wyniki wyszukiwania</h3>
  {% if results %}
  {% for source, results in results.iteritems %}
    {% for obj in results %}
       {{ obj|teaser }}
    {% endfor %}
  {% endfor %}
  {% else %}
    Dla zapytania nie zwrócono żadnych wyników. Użyto albo zbyt ostrych kryteriów wyszukiwania, albo zapytanie wyszukujące nie zostało zgłoszone.
  {% endif %}

{#  {% render display %} #}

  {% endregion %}
</div>

