{% load prospects_rendering %}

<form action="." method="POST">

  <table id="prospect-form-table">
    <thead>
      {% for field in form %}
      <th class="ui-state-default">{{ field.label_tag }}</th>
      {% endfor %}
    </thead>
  <tr>
    {% for field in form %}
    <td>{{ field.errors }}</td>
    {% endfor %}
  </tr>
  <tr>
    {% for field in form %}
  <td>{{ field }}</td>
  {% endfor %}
  </tr>    
  </table>

{% csrf_token %}
<p>
  <input id="prospect-form-submit" type="submit" value="Wyszukaj" />
</p>
</form>

<div id="results">
<h3>Wyniki wyszukiwania</h3>
{% if results %}

{% for source_result in  results %}
   {% for obj in source_result %}
      {{ obj|teaser }}
   {% endfor %}
{% endfor %}
{% else %}
Dla zapytania nie zwrócono żadnych wyników. Użyto albo zbyt ostrych kryteriów wyszukiwania, albo zapytanie wyszukujące nie zostało zgłoszone.
{% endif %}
</div>

