{% load prospects_rendering %}
{% load synergy_region %}

<p>
  {{ variant.header|safe|linebreaks|default:"To get the results fill in the form fields and submit the query. The results will be listed below the form." }}
</p>

{% if form.fields or form.has_context_fieds %}
{% include 'synergy/contrib/prospects/views/aspect_form.html' %}
{% endif %}

{% if error %}
<h3>Error in prospect definition</h3>
 {{ error }}
{% endif %}

<div style="text-align: right;">
{% region variant-actions stacked %}
{% endregion %}
</div>

<div id="results">
  {% region prospect %}
  {% endregion %}
</div>

{% if variant.footer %}
<p>
  {{ variant.footer|linebreaks|safe }}
</p>
{% endif %}
