{% load prospects_rendering %}
{% load synergy_region %}

<p>
  {{ variant.header|safe|linebreaks|default:"To get the results fill in the form fields and submit the query. The results will be listed below the form." }}
</p>

{% if form.fields %}
{% include 'synergy/contrib/prospects/views/aspect_form.html' %}
{% endif %}

{% if results %}
  <div id="results">
    {% region prospect %}
    {% endregion %}
  </div>
{% else %}
  {{ variant.empty_text|default:"No results were found. The query is to strict or it was not submitted." }}
{% endif %}

{% if variant.footer %}
<p>
  {{ variant.footer|linebreaks|safe }}
</p>
{% endif %}
