  <h3>Zarejestrowane skojarzone modele</h3>
  <p>
    Z przeglądanym wpisem w bazie danych znajdują się zarejestrowane modele
    opisujące dane skojarzone z przeglądanymi. Możesz je przeglądać/uzupełniać.
  </p>
  <ul>
  {% for rel, value_dict in tracked_model_relations.iteritems %}
  <li style="padding: 5px;"><a style="font-weight: bold;" href="{% url create-related value_dict.setup.name object.id %}">Dodaj</a> <strong>{{ rel.opts.verbose_name|title }}</strong>
    
    <ul>
    {% for entry in value_dict.related_object.all %}
    <li style="padding-top: 5px;"><a href="{% url detail value_dict.setup.object_detail.variant.name entry.id %}"> {{ entry }} </a></li>
    {% endfor %}
    </ul>

  </li>
  {% empty %}
  <li>Brak wpisów</li>
  {% endfor %}
  </ul>

  {% if untracked_model_relations %}
  <h3>Inne skojarzone modele</h3>
  <ul>
  {% for rel, value_dict in untracked_model_relations.iteritems %}
  <li><strong>{{ rel.opts.verbose_name|title }}</strong> ({{ value_dict.queryset.all.count }} wpisów), {{ rel.var_name}}</li>
  {% endfor %}
  </ul>
  {% endif %}

