<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
    <title>CodeLAB software</title>  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}/shade/css/login.css" />

  </head>

  <body >
      <div id="header"></div>

      <div class="horizontal-rule">
	<span class="first"></span>
	<span class="second"></span>
	<span class="third"></span>
      </div>

      <div id="login-stripe">

	<div id="login-form">
	  <form method="post" action="{% url django.contrib.auth.views.login %}">
	    {% csrf_token %}
	    {{ form.username.label_tag }} {{ form.username }} <br />
	    {{ form.password.label_tag }}  {{ form.password }} <br />
	    <input type="hidden" name="next" value="{{ next }}" />
	    <p>
	      <input id="submit" type="submit" value="Login"  />
	    </p>
	  </form>
	</div>
	<div id="info">
	  <h4>Formularz logowania</h4>

	  {% if form.errors %}
	  <p id="error-message">
	    Nazwa użytkownika (login) oraz hasło nie pasują wzajemnnie
	  </p>
	  {% else %}


	  <p style="margin-top: 10px;">
	    Aby zalogować się do systemu należy wprowadzić dane autentykacyjne: <strong>nazwę użytkownika oraz hasło</strong>.
	    Jeżeli nie posiadasz tych danych, skontaktuj się z administratorem systemu.
	  </p>


	  {% endif %}


	</div>
	<div style="clear:both;"></div>
      </div>

      <div class="horizontal-rule">
	<span class="first"></span>
	<span class="second"></span>
	<span class="third"></span>
      </div>

    </div>
  </body>
</html>

