{% extends "shade/body.html" %}
{% load synergy_region %}
{% load menu_tags %}
{% load region_blocks %}

{% block main %}
<div id="sidebar">

<span class="vertical-rule-main"></span>
<span class="vertical-rule-corner-top"></span>
<span class="vertical-rule-corner-bottom"></span>

<div id="sidebar-inner">
  {% secondary_menu user component %}
  {% region sidebar %}
  {% region-blocks sidebar user %}
  {% endregion %}
</div> <!-- end content -->

</div> <!-- end outer3 -->
<div id="content">
  <div id="content-top">     

    {% if messages %}
    <div class="messages">
      <ul>
	{% for message in messages %}
	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	{% endfor %}
      </ul>
    </div>
    {% endif %}

    {% block content_top %} {% endblock %}

  </div>
  <div id="content-inner">
    {% block content %}
    The content block is empty. You shuld provide something here..
    {% endblock %}
  </div>
</div> <!-- end content -->
</div> <!-- end outer2 -->
{% endblock %}
