<h2 class="sidebar_menu_title"> Kategorie </h2>
    <ul class="sidebar_menu">
        <li> <a href="#"> Programowanie </a></li>
        <li> <a href="#"> Dokumentacja </a></li>
        <li> <a href="#"> C++ </a></li>
        <li> <a href="#"> Python </a></li>
        <li> <a href="#"> Fizyka </a></li>
        <li> <a href="#"> Symulacje </a></li>
    </ul>
            
<h2 class="sidebar_menu_title next"> Używamy </h2>
    <ul class="sidebar_menu">
        <li> <a href="#"> Django </a></li>
        <li> <a href="#"> Markdown </a></li>
        <li> <a href="#"> JQuery </a></li>
        <li> <a href="#"> Synergy </a></li>
        <li> <a href="#"> JMatx </a></li>
    </ul>