{% load ui_loaders %}
{% load synergy_region %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
    <title>{% block pagetitle %}CodeLAB software{% endblock %}</title>  
    {# FavIcon should be added... #}
    {# ------------ CSS --------------- #}
    <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}/grains2/css/layout.css" /> 
    <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}/grains2/css/style.css" />
    {% load_plugin jquery %}
    {% load_plugin jqueryui %}
    <!--[if lte IE 7]>
        <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}/grains2/css/layout_from_stu_ie.css" />
    <![endif]-->
    {% region posthead stacked %}
    {% endregion %}
    {# ------------ JS --------------- #}
    {# ------------ ROBOTS --------------- #}
    <meta name="robots" content="NONE,NOARCHIVE" />
  </head>
  <body>  
    {% block body %} {% endblock %}

    <!-- Piwik -->
    <script type="text/javascript">
      var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.codelab.pl/" : "http://piwik.codelab.pl/");
      document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script><script type="text/javascript">
      try {
      var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 3);
      piwikTracker.trackPageView();
      piwikTracker.enableLinkTracking();
      } catch( err ) {}
    </script><noscript><p><img src="http://piwik.codelab.pl/piwik.php?idsite=3" style="border:0" alt="" /></p></noscript>
    <!-- End Piwik Tracking Code -->

  </body>
</html>
