.record-field{
    width: 40%;
    padding: 5px;
}

.record-value{
    padding: 5px;
    font-weight: bold;
}

.object-link{
    float: right;
    font-weight: bold;
}

.object-link a{
    color: red;
}


/* choicy wybory */
.fieldWrapper  ul{
    list-style: none;
    padding: 0;
}

.fieldWrapper li /* A simple method to get navbar links to appear in one line. */
{
  float: left; /* LTR */
  padding: 0 ; /* LTR */
  margin-left: 0;
}


