.record-field{
    width: 40%;
    padding: 5px;
}

.record-value{
    padding: 5px;
    font-weight: bold;
}

.object-link{
    float: right;
    font-weight: bold;
}

.object-link a{
    color: red;
}