{% load i18n %}
{% if body %}
<div>
  {{ body|linebreaks }}
</div>
{% endif %}

<div class="grains-form">
  <form action="." method="POST" {% if form.is_multipart %} enctype="multipart/form-data" {% endif %} >
    {% include 'synergy/contrib/records/views/form.html' %} 

    <p class="clearfix">
      <input class="button" style="width: 200px; float:right;" type="submit" value="{% if action_label %}{{ action_label }}{% else %}{% trans "Submit" %}{% endif %}" />
      <a class="ref-btn" style="width: 200px; float:right;" href="{{ cancel_url }}">{% trans "Cancel" %}</a>
    </p>

  </form>
</div>

