{% load i18n %}
{% if body %}
<div>
  {{ body|linebreaks }}
</div>
{% endif %}


<div class="grains-form">
<form action="." method="POST">
  {% csrf_token %}

  <p>
    {% trans "The entry selected for the delete action is:" %} <strong>{{ object }}</strong>.<br/>
    {% trans "The object you are going to delete will be removed permanently. Please, confirm your decision." %}
  </p>
 
  <p class="clearfix">
    <input class="ref-btn-warn" style="width: 200px; float:right;" type="submit" value="{% if action_label %}{{ action_label }}{% else %}{% trans "Delete" %}{% endif %}" />
    <a class="ref-btn" style="width: 200px; float:right;" href="{{ cancel_url }}">{% trans "Cancel" %}</a>
  </p>

</form>
</div>


