{% if body %}
<div>
  {{ body|linebreaks }}
</div>
{% endif %}


<div class="grains-form clearfix">
<form action="." method="POST">

{% include 'synergy/contrib/records/views/form.html' %}

<p class="clearfix">
  <input class="button" style="width: 200px; float:right;" type="submit" value="{{ action_label|default:"Aktualizuj" }}" />
  <a class="ref-btn" style="width: 200px; float:right;" href="{{ cancel_url }}">Anuluj</a>
  {% if delete_enabled %}
  <a class="ref-btn-warn" style="width: 100px;" href="{% url delete setup.name object.id %}">Usuń</a>
  {% endif %}
</p>


</form>
</div>


