{% load i18n %}
{% if body %}
<div>
  {{ body|linebreaks }}
</div>
{% endif %}


<div class="grains-form clearfix">
<form action="{{ request.get_full_path }}" method="POST" {% if form.is_multipart %} enctype="multipart/form-data" {% endif %} >

{% include 'synergy/contrib/records/views/form.html' %}

<p class="clearfix">
  <input class="button" style="width: 200px; float:right;" type="submit" value="{% if action_label %}{{ action_label }}{% else %}{% trans "Update" %}{% endif %}" />
  <a class="ref-btn" style="width: 200px; float:right;" href="{{ cancel_url }}">{% trans "Cancel" %}</a>
  {% if delete_enabled %}
  <a class="ref-btn-warn" style="width: 100px;" href="{% url delete setup.name object.id %}{% if request.GET.anchor_name %}?anchor_name={{ request.GET.anchor_name }}{% endif %}">{% trans "Delete" %}</a>
  {% endif %}
</p>


</form>
</div>


