{% load prospects_rendering %}

<h4>{{ table.get_verbose_name|title }}</h4>

{% if results %}

<table class="results-dable display" id="prospect-results">
  <thead>
    {% for column in table.columns.all %}
    <th>{{ column.field.verbose_name }}</th>
    {% endfor %}
  </thead>
  <tbody>
    {% for obj in results %}


    {# {{ obj|tr:table }} #}

    {% table_row obj table arguments %}


    {% endfor %}
  </tbody>
</table>

{% else %}
   {{ table.get_variant.empty_text|default:"No results were found. The query is to strict or it was not submitted." }}
{% endif %}


