<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
    <title>CodeLAB software</title>  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link href="{{ MEDIA_URL }}/grains/css/login_style.css" rel="stylesheet" type="text/css" media="all" />
  </head>

  <body>
    <div id="header">
    </div>
    <div id="login-stripe">
      <img src="{{ LOGIN_LOGO_URL }}" />
      <div id="thank-you">
	Limit użytkowników osiągnięty<br />
	<p id="small-thank-you">Prosimy spróbować ponownie później</p>
      </div>
    </div>
    <div id="error-message">
      <p><a href="/login/">Zaloguj się ponownie</a></p>
    </div>
    <div id="info-text">
      Liczba zalogowanych na serwerze użytkowników osiągnęła skonfigurowany limit. Prosimy spróbować zalogować się powtórnie za jakiś czas.
    </dev>
  </body>
</html>

