{% load synergy_region %}
<!DOCTYPE html>
<!--[if IE 7 ]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
  <head>
    {# <title>{% block pagetitle %}{{ page_title|default:"Synergy powered software" }}{% endblock %}</title>  #}
    {# ------------ META --------------- #}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="description" content="">
    <meta name="author" content="CodeLAB software">
    {# FavIcon ? #}
    {% block prehead %}
       {# ------------ EXTRA PRE-HEAD CONTENT --------------- #}
    {% endblock %} 
    {# ------------ CSS --------------- #}
    <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}pageone/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pageone/css/nivo-slider.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pageone/css/jquery.fancybox-1.3.4.css" type="text/css" />
    {# ------------ JS --------------- #}
    {% load ui_loaders %}
    {% load_plugin jquery %}
    {% load_plugin jqueryui %}
    {# ------------ ROBOTS --------------- #}
    <meta name="robots" content="NONE,NOARCHIVE" />
    {% block posthead %}
    {% region posthead stacked %}
    {% endregion %}
       {# ------------ EXTRA POST-HEAD CONTENT --------------- #}
    {% endblock %} 
  </head>
  <body>  
    {% block body %}{% endblock %}
  </body>
</html>
