{% extends "pageone/body.html" %}
{% load synergy_region %}

{% block content %}
    {% region content %}
      <!-- Styles -->
      <section id="styles" class="clearfix">
	{% region title %}
        <h1>{{ title|default:"Styles." }}</h1>
	{% endregion %}

	<div {% if blocks.sidebar %}class="primary"{% endif %}>
	{% region body %}
	{% include 'pageone/default_node_content.html' %}
	{% endregion %}
	</div>
            <aside>
	      {% region sidebar %}
	      {% if blocks.sidebar %}
	        {% for block in blocks.sidebar %}
	           {{ block.body|safe }}
	         {% endfor %}
	      {% endif %}
	      {% endregion %}
            </aside>


      </section>
{% endregion %}
{% endblock %}
