{% include 'synergy/contrib/prospects/views/listview_posthead.html' %}

{% load ui_loaders %}
{% load datatables_scripts %}

{% load_plugin jquery %}
{% load_plugin jqueryui %}
{% load_plugin datatables %}

{% load prospects_rendering %}

{% with variant.listrepresentation.representation as tab %}
  {% get_ajax_url tab.variant arguments query as ajax_url %}
  {% with table.get_columns_attrs|safe as attrs %}
  {% simple_table tab.get_css_selector tab.lang tab.is_filtered tab.is_paginated tab.page_rows ajax_url attrs %}
  {% endwith %}
{% endwith %}






