{% load formstyle_tags %}

<table>
  {% comment %}
  <thead>
    {% for item, content in items.iteritems %}
    {% if item.item_type.model == 'formfield' %}
    <th>{{ content.label_tag }}</th>
    {% else %}
    <th>Sizer</th>
    {% endif %}
    {% endfor %}
  </thead>
  {% endcomment %}
  <tbody>
    <tr>
      {% for item, content in items.iteritems %}
      <td style="width: {% widthratio item.proportion norm_factor 100 %}%; padding: 10px;">
	{% if item.item_type.model == 'formfield' %}
	{% include 'formstyle/field.html' %}
        {% else %}
       {% if item.item.orientation == 'v' %}
       {{ form|v_layout:content }}
       {% else %}
       {{ form|h_layout:content }}
       {% endif %}

	{% endif %}
      </td>
      {% endfor %}
    </tr>
  </tbody>
</table>



