/* hack to compensate for IE and percentage widths rounding errors */
#content {
    width:79.8%;
}

#sidebar {
    width:19.2%;
}

/* for IE6 */
* html #main {
    display:inline-block;
}

* html #page {
    width: expression(document.body.clientWidth < 702? "700px" : document.body.clientWidth > 1502? "1500px" : "auto");
}
