{% load records_tags %}

<table>
  <thead>
    {% for item, content in items.iteritems %}
    {% if item.item_type.model == 'formfield' %}
    <th>{{ content.label_tag }}</th>
    {% else %}
    <th>Sizer</th>
    {% endif %}
    {% endfor %}
  </thead>
  <tbody>
    <tr>
      {% for item, content in items.iteritems %}
      <td>
	{% if item.item_type.model == 'formfield' %}
	{% include 'records/field.html' %}

        {% else %}
       {% if item.item.orientation == 'v' %}
       {{ form|v_layout:content }}
       {% else %}
       {{ form|h_layout:content }}
       {% endif %}

	{% endif %}
      </td>
      {% endfor %}
    </tr>
  </tbody>
</table>



