.form-field{
    margin: 3px 0px 3px 0px;
    padding: 5px;
}

.required label:after {
    content: "*";
    font-size: 9px;
    padding-left: 4px;
    color: #FF0000;
}

.field-error{
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    background-color: #C4302B;
}

ul.errorlist{
 }

ul.errorlist li{
    background-color: #FFCF40;
    padding: 3px 6px 3px 6px; 
    color: #6B6B6A;
}

.non-field-errors{
    padding: 5px 10px 5px 10px;
    background-color: #FFCF40;
}
