@import "horizontal.css";

/* wyzerowanie ustawien domyslnych */
div,span,table,form,ul,li,td,ol,tr,p,h1,h2,h3,h4,h5,a{
    padding:0px;
    margin:0px;
    border:0px;
}

:link,:hover,:active,:visited{
    text-decoration:none;
}

body{ 
    /* Don't allow the browser to make the site unreadable. */
    min-width: 960px; 
    font-family:  'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
    background: url("graphics/page_bg.png") repeat scroll 0 0 #EBEBEB;
    margin:0px;
    padding:0px;
}


/* na razie tylko jako spacer */
#header{
    height: 200px;
}


#login-stripe{
  background-image: url(graphics/black_alpha_bg.png);
  background-position: top center; 
  background-repeat: repeat-x;
  padding:20px 50px 20px 100px;
}

#login-stripe img{
    float: right;
}

#login-stripe label{
    color: white;
    font-size:11px;
    font-weight:bold;
    display:block;
}

#login-stripe input{
    color: #494127;
    padding-left: 5px;
    border: 2px solid #E0E0E0;
    margin-bottom:10px;
    background-color: #EDEDED;
    width: 97%;
}


#login-stripe input#submit{
    color: black;
    padding-left: 5px;
    border: 2px solid #E0E0E0;
    margin-bottom:10px;
    background-color: #EDEDED;
    maring-left: 5px;
    float: right;
    font-weight: bold;
    width: 40%;
}



#error-message{
    margin-top: 20px;
    font-weight: bold;
    border: 2px solid #E0E0E0;
    background-color: #EDEDED;
    padding: 10px;

}


#thank-you{
    color: #F1F3CA;
    font-weight: bold;
    font-size: 24px;
    display: block;
    height: 126px;
    width: 400px;
    text-align: center;
}

#small-thank-you{
    margin-top: 20px;
    font-size: 15px;
}

#info-text{
    margin-top: 20px;
    padding: 0 60px 0 60px;
    text-align: justify;
    color: #6B6B6A;
}


#login-form{
    float: left;
    border-right: 1px solid #E9E9E9;
    padding-right: 50px;
    width: 20%;
}

#info{
    float: left;
    padding: 10px 0 10px 10px;
    margin-left: 40px;
    width: 60%;
}



