/* ----------------------------- */
/*  HTML Elements styles         */
/* ----------------------------- */
@import "tables.css";
@import "commons.css";
@import "forms.css";
@import "navigation.css";
@import "horizontal.css";
@import "messages.css";

img{
  border: 0;
}


body{
    background: url("graphics/page_bg.png") repeat scroll 0 0 #EBEBEB;
    background-color: #FDFDFD;
    border-top: 2px solid #EAEAEA;
    border-bottom: 2px solid #EAEAEA;
    font-size: 78%;
    font-family:  'Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
    color: #333333;
}



a:link, a:visited, .ui-widget-content a:link, .ui-widget-content a:visited {
    color:#0788C3; 
    text-decoration:none;
    outline-color:-moz-use-text-color;
    outline-style:none;
    outline-width:medium;
    text-decoration:none;
}

a.pdf-link {
    background:url("graphics/pdf.png") top left no-repeat;
    padding-left: 18px;
    margin-left: 10px;
}

h1, h2, h3, h4 {
    color: #333333;
}


/* ----------------------------- */
/*  Node title                   */
/* ----------------------------- */
h1.title{
    font-size:1.5em;
    font-weight:bold;
}

/* ----------------------------- */
/*  A header section             */
/* ----------------------------- */
#header{
    background: none repeat scroll 0 0 #1C1C1C;
    border-bottom: 2px solid  #262626;
    border-top: 2px solid  #262626;
}

#logo-title{
}

img#logo-image{
    border-right: 1px solid #E5E4E3;
}

#sitename{    
    color: #EDEDED;
}

/* ----------------------------- */
/*  User navigation links        */
/* ----------------------------- */

#user-links{
    font-weight: bold;
}

#user-links a{
    font:bold 11px 'Trebuchet MS',Arial,Sans-Serif;
    margin:0;
    padding-right: 5px;
    text-transform:uppercase;
    text-decoration: none;
    border-right:1px solid #FFCF40; 
    color: #EDEDED;
    
}

#user-links a:hover{
    color: #FFCF40;
    text-decoration: none;
}

#user-links a:hover{
    text-decoration: none;
}

#user-links ul{
    color: #C64126;
    list-style: none;
}


/* ----------------------------- */
/*  Sidebar                      */
/* ----------------------------- */


#sidebar{
    border-left: 1px solid #F3F3F3;
}

#sidebar ul
{
    padding-left: 20px;
}

#sidebar-inner{
    padding-top: 10px;
    padding-left: 20px;
/*    border:1px solid #C0CCC4; */

}


/* ----------------------------- */
/*  FOOTER                       */
/* ----------------------------- */

#footer{
    margin-top:20px;
    border-top: 1px solid #F2EBDC;
    margin-bottom: 50px;
    color: #4D4D4D;
    padding: 0 30px 50px 30px;
}

#footer img{
    width: 70px;
    padding: 10px 20px 0px 10px;
    border-right: 1px solid white;
    float: left;
    maring-right: 20px;
}

#footer-menu{
    margin-left: 20px;
    padding: 10px;
    float: left;
    color: #8e8e8e;
}



.vertical-rule {
    position: relative;
}

.vertical-rule-main, .vertical-rule-corner-top, .vertical-rule-corner-bottom{
    border: 0 none;
    width: 30px;
    z-index: -1;
}
.vertical-rule-main, .vertical-rule-corner-top, .vertical-rule-corner-bottom {
    left: 0;
}

.vertical-rule-main{
    bottom: 30px;
    height: auto;
    position: absolute;
    top: 30px;
}

.vertical-rule-main{
    background: -moz-linear-gradient(left center , rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.08) 1px, rgba(0, 0, 0, 0.08) 1px, transparent 30px, transparent 100%) repeat scroll 0 0 transparent;
}


.vertical-rule-corner-top, .vertical-rule-corner-bottom {
    height: 30px;
    position: absolute;
}

.vertical-rule-corner-top{
    top: 0;
}

.vertical-rule-corner-top{
    background: -moz-radial-gradient(left bottom , circle , rgba(0, 0, 0, 0.08), transparent 30px, transparent 100%) repeat scroll 0 0 transparent;
}


.vertical-rule-corner-bottom{
    bottom: 0;
}

.vertical-rule-corner-bottom{
    background: -moz-radial-gradient(left top , circle , rgba(0, 0, 0, 0.08), transparent 30px, transparent 100%) repeat scroll 0 0 transparent;
}




/* ---------------------------------------------------
    Form
----------------------------------------------------- */

.ref-btn, .ref-btn-warn {
    display: block;
    border: 1px solid #B1ACAC;
    text-align: center;
    line-height: 38px;

    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);

    color: #ffffff;
    background: #434343;

    margin: 5px 5px;

    box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0 1px 0 #474747;
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0 1px 0 #474747;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0 1px 0 #474747;

}

a.ref-btn:visited, a.ref-btn-warn:visited{
    color: #ffffff;
}

.ref-btn-warn{
    background: #FF2000;

    box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0 1px 0 #D83720;
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0 1px 0 #D83720;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0 1px 0 #D83720;

}


.grains-form form {
    background-color: #F9F9F9;
    padding: 10px;
    
}

.grains-form form p {
    font-size: 14.5px;
    color: #1C1C1C;
}

.grains-form form label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
    margin: 0 0 5px 0;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
}
.grains-form form label span {
    color: #046416;
}
.grains-form form input,
.grains-form form select,
.grains-form form textarea {
    width:100%;
    margin-bottom: 10px;
    padding: 4px 0px 4px 4px;
    color: #4A4949;
    background: #ebebeb;
    border-width: 1px;
    border-style: solid;
    border-color: #b8b8b8 #EBEBEB #EBEBEB #b8b8b8;
    font: 15px Helvetica, Arial, Sans-serif;

    -moz-box-shadow:inset 0 3px 1px rgba(0, 0, 0, .1);
    -webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow:inset 0 1px 3px rgba(0, 0, 0, .1);
}
.grains-form form textarea {
    height: 225px;
    margin-bottom: 0;
}
.grains-form form input:focus,
.grains-form form select:focus,
.grains-form form textarea:focus {
	background: #F4F4F4;
}

.grains-form form input.button, .grains-form form input.dangerous-button {
    height: 38px;
    margin: 5px 0;

    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    
    cursor: pointer;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);

}


.grains-form form input.button {
    background: #1D8330;
    border: 1px solid #006713;

    box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0 1px 0 #006713;
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0 1px 0 #006713;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0 1px 0 #006713;

}


.grains-form form input.dangerous-button {
    background: #FF2000;
    border: 1px solid #FF0006;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0 1px 0 #FF0006;
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0 1px 0 #FF0006;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0 1px 0 #FF0006;

}


.ie7 .grains-form form input.button, .ie7 .grains-form form input.dangerous-button {
    padding: 0 2px;
}

.border-applicant-data {
    background-color:#F6F6EF; 
    padding:15px; 
    border:1px solid #AAAAAA;
}

.border-applicant-data div.add-button {
    text-align: right;
    font-weight: bold;
}
