<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
        
<html lang="pl">
<head>
  <title>Open Source platform for write and share your technical and science stuff</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="robots" content="index, follow">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

<div id="all_wrapper">
    <!-- Header content -->
    <div id="up_stripe"></div>
    <div id="header" class="width_wrapper">
            <h1> epapyrus </h1>
            <p> <em> write &amp; share your tech and science ideas </em></p>
    </div>
    
    <!-- MAIN MENU content -->
    <div id="navigation" class="width_wrapper">
    <ul class="menu_list horizontal">
    <li> <a href="#">EPAPYRUS </a></li>
    <li> <a href="#">ARTYKUŁY </a></li>
    <li> <a href="#">KSIĄŻKI </a></li>
    <li> <a href="#">INFO </a></li>
    <li> <a href="#">KONTAKT </a></li>
    </ul>
    
 
   </div>
     
    <!-- MAIN CONTENT -->
    <div id="main_content_wrapper" class="width_wrapper clear">
        <div id="main_content">
        
        <div id="article">
        <div class="article_header_front">
        <h1> To jest tytuł </h1>
        <p class="article_info">
        12-12-2012 przez: <a href="#">Marcin Kosmider</a> w <a href="#"> programowanie</a>
        </p>
        </div>
        <p class="teaser">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus magna non nisi elementum accumsan. Pellentesque ultricies laoreet eros, et interdum diam cursus a. Curabitur euismod pharetra posuere. Etiam malesuada dolor ante. Sed et velit mi, ac molestie dolor. Donec condimentum porta lacus, eu luctus nulla aliquet suscipit. Donec ac lobortis nisl. Integer nec molestie turpis. Donec id sapien tellus. Suspendisse potenti.
       
        </p>
        </div>
        
        <div id="article">
        <div class="article_header_front">
        <h1> To jest tytuł </h1>
        <p class="article_info">
        12-12-2012 przez: <a href="#">Marcin Kosmider</a> w <a href="#"> programowanie</a>
        </p>
        </div>
        <p class="teaser">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus magna non nisi elementum accumsan. Pellentesque ultricies laoreet eros, et interdum diam cursus a. Curabitur euismod pharetra posuere. Etiam malesuada dolor ante. Sed et velit mi, ac molestie dolor. Donec condimentum porta lacus, eu luctus nulla aliquet suscipit. Donec ac lobortis nisl. Integer nec molestie turpis. Donec id sapien tellus. Suspendisse potenti.
        </p>
        </div>
        
        
        <div id="article">
        <div class="article_header_front">
        <h1> To jest tytuł </h1>
        <p class="article_info">
        12-12-2012 przez: <a href="#">Marcin Kosmider</a> w <a href="#"> programowanie</a>
        </p>
        </div>
        <p class="teaser">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus magna non nisi elementum accumsan. Pellentesque ultricies laoreet eros, et interdum diam cursus a. Curabitur euismod pharetra posuere. Etiam malesuada dolor ante. Sed et velit mi, ac molestie dolor. Donec condimentum porta lacus, eu luctus nulla aliquet suscipit. Donec ac lobortis nisl. Integer nec molestie turpis. Donec id sapien tellus. Suspendisse potenti.
        </p>
        </div>
        
        <div id="article">
        <div class="article_header_front">
        <h1> To jest tytuł </h1>
        <p class="article_info">
        12-12-2012 przez: <a href="#">Marcin Kosmider</a> w <a href="#"> programowanie</a>
        </p>
        </div>
        <p class="teaser">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus magna non nisi elementum accumsan. Pellentesque ultricies laoreet eros, et interdum diam cursus a. Curabitur euismod pharetra posuere. Etiam malesuada dolor ante. Sed et velit mi, ac molestie dolor. Donec condimentum porta lacus, eu luctus nulla aliquet suscipit. Donec ac lobortis nisl. Integer nec molestie turpis. Donec id sapien tellus. Suspendisse potenti.
        </p>
        </div>
        
        
        </div>
        <div id="sidebar">
       
        <h2> Kategorie </h2>
        <ul class="menu_list">
        <li> <a href="#"> Programowanie </a></li>
        <li> <a href="#"> Dokumentacja </a></li>
        <li> <a href="#"> C++ </a></li>
        <li> <a href="#"> Python </a></li>
        <li> <a href="#"> Fizyka </a></li>
        <li> <a href="#"> Symulacje </a></li>
        </ul>
        
        <h2 class="next_h2"> Używamy </h2>
        <ul class="menu_list">
        <li> <a href="#"> Django </a></li>
        <li> <a href="#"> Markdown </a></li>
        <li> <a href="#"> JQuery </a></li>
        <li> <a href="#"> Synergy </a></li>
        <li> <a href="#"> JMatx </a></li>
        </ul>
        </div>
       <div class="clear"></div>
    </div>
    
    <!-- Fooer section-->
    <div id="footer" class="width_wrapper clear">
    <p>
    epapyrus is an Open Source software based on Django framework.
    </p>
    </div>
</div>

</body>
</html>
