<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
        
<html lang="pl">
<head>
  <title>Open Source platform for write and share your technical and science stuff</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="robots" content="index, follow">
  <link rel="stylesheet" type="text/css" href="css/layout.css">
  <link rel="stylesheet" type="text/css" href="css/epapyrus_style.css">
  <link rel="stylesheet" type="text/css" href="css/default_style.css">
</head>

<body>

<div id="all_wrapper">
    <!-- Header content -->
    <div id="up_stripe"></div>
    <div id="header" class="width_wrapper">
            <h1> epapyrus </h1>
            <p> <em> write &amp; share your tech and science ideas </em></p>
    </div>
    
    <!-- MAIN MENU content -->
    <div id="navigation" class="width_wrapper">
    <ul class="menu_list horizontal">
    <li> <a href="#">EPAPYRUS </a></li>
    <li> <a href="#">ARTYKUŁY </a></li>
    <li> <a href="#">KSIĄŻKI </a></li>
    <li> <a href="#">INFO </a></li>
    <li> <a href="#">KONTAKT </a></li>
    </ul>
    </div>
    
    <!-- MAIN CONTENT -->
    <div id="main_content_wrapper" class="width_wrapper clear">
        <div id="main_content">
         <div class="article">
            <div class="article_header">
            <h1> To jest tytuł </h1>
            <p class="article_info">
            12-12-2012 przez: <a href="#">Marcin Kosmider</a> w <a href="#"> programowanie</a>
            </p>
            </div>
            <p class="full_article">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus magna non nisi elementum accumsan. Pellentesque ultricies laoreet eros, et interdum diam cursus a. Curabitur euismod pharetra posuere. Etiam malesuada dolor ante. Sed et velit mi, ac molestie dolor. Donec condimentum porta lacus, eu luctus nulla aliquet suscipit. Donec ac lobortis nisl. Integer nec molestie turpis. Donec id sapien tellus. Suspendisse potenti.

            Maecenas diam mi, aliquam sit amet iaculis in, vehicula vel massa. Donec dapibus scelerisque purus. Sed risus arcu, facilisis sit amet luctus non, feugiat non est. Curabitur molestie, felis nec tristique accumsan, nisl augue pellentesque nunc, eget porttitor libero metus quis nisi. Nam faucibus facilisis dolor at vulputate. Maecenas porta felis quis est commodo at ultricies dolor euismod. Proin a justo a velit gravida ornare eu eget sapien. Pellentesque consectetur orci a enim iaculis sit amet bibendum metus semper. Integer erat turpis, porttitor non egestas id, porta vel nibh. Mauris tristique varius lectus. In eget arcu vel ligula fermentum congue. Proin adipiscing, est venenatis semper mollis, mi urna sagittis odio, a molestie tellus lacus non lorem. Nullam mauris magna, rutrum eget egestas et, hendrerit nec orci. Fusce vitae sapien non mi commodo mollis sit amet non lorem. Aenean at varius eros.

            Vestibulum elementum elit ac justo dictum eget lacinia nunc porttitor. Nunc mollis eleifend justo, sit amet feugiat ipsum fermentum quis. In blandit dolor eget magna condimentum dictum sed eu nibh. Nunc in leo nisl. Sed vitae nibh vitae quam sollicitudin sodales in a est. Maecenas varius diam ac magna tincidunt tempor euismod nunc pellentesque. Curabitur a ligula vel dui mattis eleifend vel at urna. Cras porttitor commodo tortor, adipiscing mattis lectus ultrices quis. In eget nisi eu sem aliquam placerat ut sit amet massa.

            Phasellus scelerisque lacus ac sapien cursus pellentesque. Vestibulum vitae bibendum tellus. Aliquam erat volutpat. Donec tristique nunc a tellus hendrerit rhoncus porttitor velit venenatis. Donec suscipit scelerisque mollis. In hac habitasse platea dictumst. Nam malesuada enim ut mi elementum dignissim. Vestibulum ornare augue eu est ultricies rutrum convallis nibh fringilla. Nam volutpat congue blandit. Aliquam erat volutpat. Nulla luctus nunc euismod enim porta dignissim a sit amet leo. Duis bibendum vestibulum semper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris ante sem, vestibulum ultrices aliquam vel, faucibus et neque. Vestibulum quis enim nulla. Cras volutpat ullamcorper blandit.

            Quisque vulputate metus eget massa rhoncus in varius nibh vulputate. Vestibulum sit amet massa arcu. Suspendisse condimentum tincidunt varius. Aliquam a turpis sit amet nisi aliquam placerat. Fusce eu diam dolor. Nulla mattis, libero vel semper vehicula, dui lectus iaculis enim, in euismod neque sapien vitae risus. Maecenas ligula neque, faucibus vel mattis id, fermentum nec augue. 
            </p>
        </div>
        </div>
        <div id="sidebar">
       
            <h2 class="sidebar_menu_title"> Kategorie </h2>
            <ul class="sidebar_menu">
            <li> <a href="#"> Programowanie </a></li>
            <li> <a href="#"> Dokumentacja </a></li>
            <li> <a href="#"> C++ </a></li>
            <li> <a href="#"> Python </a></li>
            <li> <a href="#"> Fizyka </a></li>
            <li> <a href="#"> Symulacje </a></li>
            </ul>
            
            <h2 class="sidebar_menu_title next"> Używamy </h2>
            <ul class="sidebar_menu">
            <li> <a href="#"> Django </a></li>
            <li> <a href="#"> Markdown </a></li>
            <li> <a href="#"> JQuery </a></li>
            <li> <a href="#"> Synergy </a></li>
            <li> <a href="#"> JMatx </a></li>
            </ul>
        </div>
       <div class="clear"></div>
    </div>
   
    
    <!-- Fooer section-->
    <div id="footer" class="width_wrapper clear">
    <p>
    epapyrus is an Open Source software based on Django framework.
    </p>
    </div>
</div>

</body>
</html>
